@import '../../index.scss';

.youtube {

  &__video {
    height: 270px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 1rem -1rem 2rem rgba(#111, 0.3);
  }

  &__tab {
    background: $blue;
    height: $block-height * 2.5;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 2rem 1rem;

    &-title {
      font-size: 1.3rem;
      font-weight: 700;
    }
    
    .left,
    .right {
      display: flex;
      align-items: center;
    }

  }

  &__icon {
    font-size: 2.5rem;
    cursor: pointer;
    transition: all .1s ease-in-out;

    &:first-child {
      margin-right: .5rem;
    }

    &:hover {
      color: $orange;
    }
  }

}
