@import '../../index.scss';

table,
th {
  border: 1px solid rgba($black, .4);
}

table {
  color: $black;
  min-width: 230px; 
  background: $white;
  border-collapse: collapse;
  box-shadow: 0 1rem 1rem rgba($black, .2);

  @include respond(phone) {
    width: 100%;
  }
}
