*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  @include respond(tab-port) {
    overflow-x: hidden;
  }
}

body {
  margin: 0;
  background: $blue;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include respond(tab-port) {
    position: relative
  }
}

a {
  text-decoration: none;
  color: $red;

  &:hover {
    color: $orange;
  }
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

.logo {
  color: $red;
}

// desktop first layout
.mobile {
  @include hide;
}

@include respond(phone) {

  body {
    overflow-x: hidden;
  }

  .desktop {
    @include hide;
  }

  .mobile {
    @include unhide;
  }
}
