@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

html {
  font-size: 61.5%;
}

body {
  font-weight: 400;
  font-size: 1.7rem;
  letter-spacing: 0.26rem;
  font-family: 'sans-serif';
}

textarea,
input {
  font-family: sans-serif;
}

h1,
h2,
nav {
  font-family: 'Orbitron', sans-serif;
}