// variables
$black: #111;
$red: #D80032;
$orange: #EF233C;
$white: #EDF2F4;
$grey: #8D99AE;
$blue: #2B2D42;
$radius: 10px;

.container {
  color: $white;
  padding: 2rem 4rem;
} 

.intro {
  padding: 0 2rem;
  margin: 5rem 0 10rem 0;
}


.category {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.category {

  &__description {
    background: $orange;
    font-size: 1.3rem;
    letter-spacing: .5px;
    padding: 1rem 2rem;
    color: $black;
    border-top-right-radius: $radius;
    border-top-left-radius: $radius;

    h2 {
      text-transform: uppercase;
      margin-bottom: 1rem;
      color: $white;
    }
    
    p {
      font-size: 1.8rem;
      font-weight: 300;
      color: black;
      letter-spacing: 0.3rem;
    }
  }

  &__row {
    padding: 3rem 8rem;
    background: $white;
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;
  }
  
}

.filter {

  &__container {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2rem;
    width: 50rem;
    margin: 3rem auto;
  }
  
  &__btn {
    background: $white;
    border-radius: 5px;
    padding: 1.5rem 3rem;
    color: $black;
    width: 2rem;
    border: none;
    outline: none;
    display: inline-block;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s linear;
    
    box-sizing: content-box;
    border-left: 3rem solid $white;
    border-right: 3rem solid $white;

    &.active {
      border-right: 3rem solid $orange;
    }
    
    &:active,
    &:hover {
      color: black;
      background: whitesmoke;
      border-left: 3rem solid whitesmoke;
      border-right: 3rem solid $orange;
      box-shadow: 0 1rem 2rem rgba($black, .6);
    }
  }
}
