@import '../../../index.scss';

.shimmer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 5rem;
  width: 800px;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 .4rem 6rem rgba($black, .1);
  
  &:not(:last-of-type) {
    margin-bottom: 6rem;
  }

  &__top {
    width: 100%;
  }

  &__title {
    width: 100%;
    font-size: 2rem;
    margin-bottom: 3rem;
    height: $block-height;
    animation: shimmer 1.2s ease-in-out infinite;
  }

  &__body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    background: $white;
    margin-bottom: 2rem;
  }

  &__txt {
    width: 350px;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;

    &-p {
      height: $block-height;
      animation: shimmer 1.2s ease-in-out infinite;
    }
  }

  &__img {
    width: 200px;
    height: 200px;
    margin-right: 3rem;
    border-radius: 3px;
    animation: shimmer 1.2s ease-in-out infinite;
  }

  &__btn {
    width: 30%;
    height: $block-height;
    margin: auto;
    border: none;
    animation: shimmer 1.2s ease-in-out infinite;
  }

  @include respond(tab-port) {
    width: 600px;
  }

  @include respond(phone) {
    width: 100%;

    &__body {
      align-items: center;
      flex-direction: column;
      gap: 3rem;
    }

    &__txt {
      width: 100%;
    }

    &__img {
      margin: 0;
    }
  }
}
