// variables
$black: #111;
$red: #D80032;
$orange: #EF233C;
$white: #EDF2F4;
$grey: #8D99AE;
$blue: #2B2D42;

.navigation {

  padding: 1rem 4rem;
  display: flex;
  align-items: center;
  background-color: $white;
  border-bottom: 3px solid $orange;
  box-shadow: 0 1rem 1rem rgba($black, 0.3);

  .logo {
    cursor: pointer;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
  }

  &__left {
    flex: 1;
  }

  &__right {
    font-size: 2rem;

    a:not(:last-of-type) {
      margin-right: 2rem;
    }
  }
}