@import '../../index.scss';

.navigation {
  width: 100%;
  padding: 1rem 4rem;
  height: $nav-height;

  top: 0;
  left: 0;
  position: fixed;
  z-index: 10;

  display: flex;
  align-items: center;
  
  background-color: $white;
  border-bottom: 3px solid $orange;
  box-shadow: 0 1rem 1rem rgba($black, 0.3);

  &__logo {
    cursor: pointer;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;

    @include respond(phone) {
      @include hide;
    }

  }

  &__left {
    flex: 1;
  }

  &__right {
    font-size: 2rem;

    a:not(:last-of-type) {
      margin-right: 2rem;
    }
  }

  &__right.mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    width: 100%;
  }

  @include respond(phone) {
    padding: 0;
    align-items: flex-start;
  }
}

.vr__logo {
  object-fit: contain;
  width: 30px;
  height: 30px;
  display: block;
}
