// variables
$black: #111;
$red: #D80032;
$orange: #EF233C;
$white: #EDF2F4;
$grey: #8D99AE;
$blue: #2B2D42;
$nav-height: 5.5rem;

main {
  padding-top: $nav-height;
}

.container {
  
  margin-top: 4rem;
  padding: 0;
  
  &__row {

    padding: 3rem 0;
    min-height: 250px;

    &:nth-child(odd) {
      background-color: darken($blue, 2%);
    }

    &:nth-child(even) {
      background-color: $blue;
    }

    &-title {
      color: $white;
      margin-bottom: 2rem;
      text-align: center;
      text-transform: uppercase;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-tables {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

small {
  display: block;
  text-align: center;
}

.mt {
  margin-top: 5rem;
}

.index {
  text-align: center;
  background-color: $white;
  padding: 2rem;

  ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    li:not(:last-of-type) {
      border-right: 2px solid rgba($black, .8);
      margin-right: 1rem;
      padding-right: 1rem;
    }

    li:hover {
      box-shadow: 0 1rem 3rem rgba($black, .1);
    }
  }

}

small {
  margin: 2rem 0;
}

.icon {
  color: $white;
  margin-left: 1rem;
  font-size: 2.5rem;
}