@import '../../index.scss';

.news {
  padding-top: 10rem;
  background: $white;

  &__intro {
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;

    h1 {
      padding: 2rem;
    }
  }
}

.btn {
  background: $white;
  border-radius: 5px;
  padding: 1rem 2rem;
  color: $black;
  width: 150px;
  border: none;
  outline: none;
  display: inline-block;
  margin: auto;
  margin-top: 2rem;

  font-size: 1.3rem;
  letter-spacing: .15rem;
  text-transform: capitalize;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s linear;
  
  box-sizing: content-box;
  border-left: 3rem solid $white;
  border-right: 3rem solid $white;

  box-shadow: 0 1rem 1rem rgba($black, .1);

  &:hover {
    color: black;
    background: whitesmoke;
    border-left: 3rem solid whitesmoke;
    border-right: 3rem solid $orange;
    box-shadow: 0 1rem 1rem rgba($black, .2);
  }
}
