@import '../../index.scss';

.category__row {

  .splide__arrow {
    background: none;
    fill: $grey;
    transition: all .4s ease-in-out;

    &:hover {
      background: rgba($black, 0.5);
      fill: $orange;
    }
  }
}

